### Nama : Sabina Nurlatifah Aurelia
### NIM  : 2209106002
### Kelas: Informatika A 2022

### Posttest 4

### Data Preprocessing

##### Import Package

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np

##### Read File csv

In [21]:
aurel= pd.read_csv('tornados.csv')
aurel

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,elon,len,wid,ns,sn,f1,f2,f3,f4,fc
0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,...,-102.3000,15.80,10,1,1,25,0,0,0,False
1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,...,0.0000,2.00,880,1,1,47,0,0,0,False
2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,...,0.0000,0.10,10,1,1,177,0,0,0,False
3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,...,0.0000,0.10,10,1,1,209,0,0,0,False
4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,...,0.0000,2.00,37,1,1,101,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68688,621922,2022,9,28,2022-09-28,13:32:00,America/Chicago,2022-09-28T18:32:00Z,FL,12,...,-80.8841,3.00,100,1,1,9,0,0,0,False
68689,621923,2022,9,30,2022-09-30,10:25:00,America/Chicago,2022-09-30T15:25:00Z,NC,37,...,-78.3011,0.74,20,1,1,19,0,0,0,False
68690,621924,2022,9,30,2022-09-30,13:22:00,America/Chicago,2022-09-30T18:22:00Z,NC,37,...,-76.7147,0.70,12,1,1,13,0,0,0,False
68691,621900,2022,9,4,2022-09-04,15:44:00,America/Chicago,2022-09-04T20:44:00Z,OH,39,...,-80.6555,0.07,15,1,1,99,0,0,0,False
68692,621901,2022,9,9,2022-09-09,23:21:00,America/Chicago,2022-09-10T04:21:00Z,SC,45,...,-79.7537,0.68,125,1,1,19,0,0,0,False

In [3]:
aurel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68693 entries, 0 to 68692
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   om            68693 non-null  int64
 1   yr            68693 non-null  int64
 2   mo            68693 non-null  int64
 3   dy            68693 non-null  int64
 4   date          68693 non-null  object
 5   time          68693 non-null  object
 6   tz            68693 non-null  object
 7   datetime_utc  68693 non-null  object
 8   st            68693 non-null  object
 9   stf           68693 non-null  int64
 10  mag           67937 non-null  float64
 11  inj           68693 non-null  int64
 12  fat           68693 non-null  int64
 13  loss          41523 non-null  float64
 14  slat          68693 non-null  float64
 15  slon          68693 non-null  float64
 16  elat          68693 non-null  float64
 17  elon          68693 non-null  float64
 18  len           68693 non-null  float64
 19  wid           68693 non-null  int64
 20  ns            68693 non-null  int64
 21  sn            68693 non-null  int64
 22  f1            68693 non-null  int64
 23  f2            68693 non-null  int64
 24  f3            68693 non-null  int64
 25  f4            68693 non-null  int64
 26  fc            68693 non-null  bool
dtypes: bool(1), float64(7), int64(14), object(5)
memory usage: 13.7+ MB

#### 1. Membagi dataset menjadi training set dan test set dengan proporsi 70:30

In [4]:
x = aurel.iloc[:,:-1]
y = aurel.iloc[:,-1]

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3)

In [6]:
print ('Dimensi x_train : ',x_train.shape)
print ('Dimensi x_test : ',x_test.shape)
print ('Dimensi y_train : ', y_train.shape)
print ('Dimensi y_test : ',y_test.shape)

Dimensi x_train :  (48085, 26)
Dimensi x_test :  (20608, 26)
Dimensi y_train :  (48085,)
Dimensi y_test :  (20608,)

#### 2. Normalisasi pada salah satu attribute menggunakan MinMaxScaler

In [7]:
aureli = pd.read_csv('tornados copy.csv')

In [8]:
minmax = MinMaxScaler()

In [9]:
aureli['ns'] = minmax.fit_transform(aureli[['ns']])

In [48]:
print ('Sebelum normalisasi pada kolom number of states: ')
print (aurel['ns'].describe())

Sebelum normalisasi pada kolom number of states:
count    68692.000000
mean         1.008764
std          0.095060
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          3.000000
Name: ns, dtype: float64

In [49]:
print ('Sesudah normalisasi pada kolom number of states: ')
print (aureli['ns'].describe())

Sesudah normalisasi pada kolom number of states:
count    68693.000000
mean         0.004382
std          0.047530
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: ns, dtype: float64

#### 3. Melakukan standarisasi pada dataset

In [12]:
aurelia = pd.read_csv('tornados copy2.csv')

In [13]:
ss= StandardScaler()

In [14]:
aurelia['ns'] = ss.fit_transform(aurelia[['ns']])

In [15]:
print("Nilai sebelum deviasi standar: ")
print(np.std(aurel['ns']))
print('Nilai sebelum data scaling:')
print(aurel['ns'])

Nilai sebelum deviasi standar:
0.09505897568116929
Nilai sebelum data scaling:
0        1
1        1
2        1
3        1
4        1
        ..
68688    1
68689    1
68690    1
68691    1
68692    1
Name: ns, Length: 68693, dtype: int64

In [16]:
print("Nilai sesudah deviasi standar: ")
print(np.std(aurelia['ns']))
print('Nilai sesudah data scaling:')
print(aurelia['ns'])

Nilai sesudah deviasi standar:
1.0
Nilai sesudah data scaling:
0       -0.092191
1       -0.092191
2       -0.092191
3       -0.092191
4       -0.092191
           ...
68688   -0.092191
68689   -0.092191
68690   -0.092191
68691   -0.092191
68692   -0.092191
Name: ns, Length: 68693, dtype: float64

#### 4. Data cleaning pada data dengan nilai null dan mengubah nilai null sesuai dengan ketentuan

In [50]:
aurel.isna().sum()

om                  0
yr                  0
mo                  0
dy                  0
date                0
time                0
tz                  0
datetime_utc        0
st                  0
stf                 0
mag                 0
inj                 0
fat                 0
loss            27170
slat                0
slon                0
elat                0
elon                0
len                 0
wid                 0
ns                  0
sn                  0
f1                  0
f2                  0
f3                  0
f4                  0
fc                  0
Yes                 1
No                  1
dtype: int64

In [18]:
aurel.loc[0:, 'tz'] = np.nan #object
aurel.loc[0:, 'ns'] = np.nan #int

In [19]:
aurel.isna().sum()

om                  0
yr                  0
mo                  0
dy                  0
date                0
time                0
tz              68693
datetime_utc        0
st                  0
stf                 0
mag               756
inj                 0
fat                 0
loss            27170
slat                0
slon                0
elat                0
elon                0
len                 0
wid                 0
ns              68693
sn                  0
f1                  0
f2                  0
f3                  0
f4                  0
fc                  0
dtype: int64

##### - mengganti nilai null pada kolom teks dengan modus

In [22]:
modus= aurel['tz'].mode()[0]
aurel['tz'].fillna(modus, inplace=True)

##### - mengganti nilai null pada bilangan bulat dengan median

In [23]:
median= aurel['ns'].median()
aurel['ns'].fillna(median, inplace=True)

##### - mengganti nilai null pada bilangan desimal dengan mean

In [24]:
mean= aurel['mag'].mean()
aurel['mag'].fillna(mean, inplace=True)

#### 5. Data cleaning pada data dengan nilai duplikat

In [25]:
aurel.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
68688    False
68689    False
68690    False
68691    False
68692    False
Length: 68693, dtype: bool

In [26]:
aurel = pd.concat([aurel, aurel.sample(n=3, random_state=42)])

In [29]:
aurel.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
68691    False
68692    False
47119     True
64543     True
41485     True
Length: 68696, dtype: bool

In [30]:
aurel.drop_duplicates(inplace= True)

In [32]:
aurel.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
68688    False
68689    False
68690    False
68691    False
68692    False
Length: 68692, dtype: bool

mengganti tipe data

#### 6. Mengganti tipe data salah satu attribute angka

##### mengganti tipe data wid dari int menjadi float

In [34]:
aurel['wid'] = aurel['wid'].astype(float)

In [36]:
aurel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68692 entries, 0 to 68692
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   om            68692 non-null  int64
 1   yr            68692 non-null  int64
 2   mo            68692 non-null  int64
 3   dy            68692 non-null  int64
 4   date          68692 non-null  object
 5   time          68692 non-null  object
 6   tz            68692 non-null  object
 7   datetime_utc  68692 non-null  object
 8   st            68692 non-null  object
 9   stf           68692 non-null  int64
 10  mag           68692 non-null  float64
 11  inj           68692 non-null  int64
 12  fat           68692 non-null  int64
 13  loss          41522 non-null  float64
 14  slat          68692 non-null  float64
 15  slon          68692 non-null  float64
 16  elat          68692 non-null  float64
 17  elon          68692 non-null  float64
 18  len           68692 non-null  float64
 19  wid           68692 non-null  float64
 20  ns            68692 non-null  int64
 21  sn            68692 non-null  int64
 22  f1            68692 non-null  int64
 23  f2            68692 non-null  int64
 24  f3            68692 non-null  int64
 25  f4            68692 non-null  int64
 26  fc            68692 non-null  bool
dtypes: bool(1), float64(8), int64(13), object(5)
memory usage: 14.2+ MB

hot encoding

#### 7. Melakukan One Hot Encoding pada dataset

In [44]:
ohe = OneHotEncoder(sparse_output= False)
ohe.fit_transform(aurel[['fc']])

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [46]:
pd.get_dummies(aurel[['fc']]).replace(True)

C:\Users\Luthfy\AppData\Local\Temp\ipykernel_18004\2479586054.py:1: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  pd.get_dummies(aurel[['fc']]).replace(True)

          fc
0      False
1      False
2      False
3      False
4      False
...      ...
68688  False
68689  False
68690  False
68691  False
68692  False

[68692 rows x 1 columns]

In [47]:
aurel.head()

,om,yr,mo,dy,date,time,tz,datetime_utc,st,stf,...,wid,ns,sn,f1,f2,f3,f4,fc,Yes,No
0,192,1950,10,1,1950-10-01,21:00:00,America/Chicago,1950-10-02T03:00:00Z,OK,40,...,10.0,1,1,25,0,0,0,False,0.0,1.0
1,193,1950,10,9,1950-10-09,02:15:00,America/Chicago,1950-10-09T08:15:00Z,NC,37,...,880.0,1,1,47,0,0,0,False,0.0,1.0
2,195,1950,11,20,1950-11-20,02:20:00,America/Chicago,1950-11-20T08:20:00Z,KY,21,...,10.0,1,1,177,0,0,0,False,0.0,1.0
3,196,1950,11,20,1950-11-20,04:00:00,America/Chicago,1950-11-20T10:00:00Z,KY,21,...,10.0,1,1,209,0,0,0,False,0.0,1.0
4,197,1950,11,20,1950-11-20,07:30:00,America/Chicago,1950-11-20T13:30:00Z,MS,28,...,37.0,1,1,101,0,0,0,False,0.0,1.0